body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
}

header, .img-all {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: #f4f4f4;
}

nav {
    position: absolute;
    top: 55%;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a {
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}
a {
    color:inherit;
}

a:hover {
    color: gray;
}

header {
    background-image: url('../img/image-header.jpeg');
    min-height: 100%;
}

.img1 {
    background-image: url('../img/image1.jpg');
    min-height: 500px;
}

.img2 {
    background-image: url('../img/image2.jpg');
    min-height: 500px;
}

.img3 {
    background-image: url('../img/image3.jpg');
    min-height: 500px;
}

.img4 {
    background-image: url('../img/image4.jpg');
    min-height: 500px;
}

footer {
    padding: 30px;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px #000 solid;
    margin: 0 auto;
    padding: 0;
    width: 30%;
}

#description {
    margin-top: 1.8em;
}

.center-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 10px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    background-color: rgb(37, 37, 37);
    padding: 20px;
}

.text-content {
    text-align: center;
    padding: 50px 80px;
}

@media(max-width: 568px) {
    header {
        font-size: 1.4rem;
        background-attachment: scroll;
    }

    .img-all {
        background-attachment: scroll;
        font-size: 1.5rem;
    }

    nav {
        top: 60%;
    }

    hr {
        width: 50%;
    }

    .center-text {
        font-size: 20px;
        letter-spacing: 8px;
    }

    h1 {
        font-size: 20px;
    }
}