@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

body, html {
    height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
}

header, .img-all {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: #f4f4f4;
}

nav {
    font-size: 1rem;
}

header {
    background-image: url('../img/image-header.jpeg');
    min-height: 90%;
}

#img1 {
    background-image: url('../img/image1.jpg');
    min-height: 500px;
}

#img2 {
    background-image: url('../img/image2.jpg');
    min-height: 500px;
}

#img3 {
    background-image: url('../img/image3.jpg');
    min-height: 500px;
}

#img4 {
    background-image: url('../img/image4.jpg');
    min-height: 500px;
}

.center-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 10px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    background-color: rgb(37, 37, 37);
    padding: 20px;
}

.text-content {
    text-align: center;
    padding: 50px 80px;
}

@media(max-width: 568px) {
    header {
        font-size: 1.4rem;
        background-attachment: scroll;
    }

    .img-all {
        background-attachment: scroll;
        font-size: 1.5rem;
    }
}